@import url('https://rsms.me/inter/inter.css&display=swap');
@import "tailwindcss";

:root { font-family: 'Inter', sans-serif; }

@theme {
  --font-sans: 'Inter var', sans-serif; 
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}